*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #dcdcdc;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
    background-color:#8DC7E0;
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.438);
}